<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jisellemartins.escolaparatodos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EscolaParaTodos">
        <activity
            android:name=".CriarAtividadeScreen"
            android:exported="false" />
        <activity
            android:name=".BoletimScreen"
            android:exported="false" />
        <activity
            android:name=".CriarDisciplinaScreen"
            android:exported="false" />
        <activity
            android:name=".AtividadeQuestaoScreen"
            android:exported="false" />
        <activity
            android:name=".GerenciarAlunosScreen"
            android:exported="false" />
        <activity
            android:name=".AtividadesScreen"
            android:exported="false" />
        <activity
            android:name=".AulasScreen"
            android:exported="false" />
        <activity
            android:name=".CalendarioScreen"
            android:exported="false" />
        <activity
            android:name=".BibliotecaScreen"
            android:exported="false" />
        <activity
            android:name=".DisciplineScreen"
            android:exported="false" />
        <activity
            android:name=".DisciplinesScreen"
            android:exported="false" />
        <activity
            android:name=".CadastroScreen"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>